@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --modal-bg-opacity: 0.85; /* Adjust the opacity value here */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; /* Added margin reset */
  touch-action: manipulation;
}
body {
  background-color: rgba(15, 15, 15); /* Deep Navy Blue */
}

.header {
  display: flex; /* Added display property for better alignment */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 5%;
  font-family: "Outfit", sans-serif;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: rgba(39, 34, 34, 0.72);
  color: whitesmoke;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0 10px;
}

li {
  padding: 15px;
  font-size: 17px;
  cursor: pointer; /* Added cursor property for better UX */
}

li:hover {
  background-color: #111;
  color: #e9e9e9;
  border-radius: 25px;
}

img {
  border-radius: 40px;
  max-width: 100%; /* Ensure images fit within their containers */
  height: auto; /* Maintain aspect ratio */
}

img:hover {
  filter: brightness(0.7);
  cursor: pointer;
}

.grid {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Center items */
  text-align: center;
  max-width: 95vw; /* Set maximum width */
  margin: 2.5vw auto; /* Center margin */
  gap: 10px; /* Space between items */
}

.grid-item {
  flex: 1 1 auto; /* Allow items to grow and shrink */
  max-width: calc(
    90% - 20px
  ); /* Prevent items from exceeding container width, accounting for margin */
  margin: 10px; /* Add margin to prevent overlap */
}

/* Styles for screen widths below 1000px */
@media (max-width: 1px) {
  .grid-item {
    flex: 0 0 calc(100% - 20px); /* Stack items and account for margin */
    max-width: 100%; /* Ensure items take full width */
  }
}

@media (min-width: 1000px) {
  .grid-item {
    width: calc(50% - 20px); /* 50% width minus margin */
  }
}

@media (min-width: 1700px) {
  .grid-item {
    width: calc(25% - 20px); /* 25% width minus margin */
  }
}

@media (min-width: 2100px) {
  .grid-item {
    width: calc(20% - 20px); /* 20% width minus margin */
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    var(--modal-bg-opacity)
  ); /* Dark background with adjustable opacity */
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: transform 10s ease; /* Smooth transition for scaling */
}

.modal-content {
  display: flex;
  max-width: 80%;
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.45); /* Set background color with opacity */
  transition: background-color 0.5s ease; /* Smooth background color transition */
}
.text-container {
  display: flex;
  flex-direction: column; /* Stack title and description vertically */
  margin-left: 20px;
  font-family: "Outfit", sans-serif;
}

.modal-content img {
  max-width: 40%;
  border-radius: 10px;
}

.description {
  letter-spacing: 0.5px;
}
#modal-title {
  font-size: 35px; /* Font size for title */
  margin-bottom: 30px;
  font-family: "Outfit", sans-serif;
}

@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
  }

  .modal-content img,
  .description {
    max-width: 100%;
  }
}
.prev,
.next {
  position: absolute; /* Absolutely position the buttons */
  top: 50%; /* Center vertically */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 10px; /* Padding to increase clickable area */
  z-index: 10; /* Ensure buttons are above other elements */
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 40px; /* Set a fixed width for circular shape */
  height: 40px; /* Set a fixed height for circular shape */
  transition: background-color 0.3s; /* Smooth transition */
  background-color: transparent; /* Remove background color */
  border: none; /* Remove any default border */
  border-radius: 50%; /* Make the button circular */
  color: white;
}
.prev {
  left: 8%; /* Position 10% to the left of modal-content */
}

.next {
  right: 7%; /* Position 10% to the right of modal-content */
}

/* Change background color on hover */

/* Additional styles for the icon */
.button-elem {
  font-size: 20px; /* Adjust size of the icon */
}
